* {
  margin: 0;
  padding: 0;
}

.App {
  width: 100vw;
  height: 100vh;
  text-align: center;
  background: url("./Images/pexels-michael-block-3225517.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

header {
  font-family: "Plus jakarta", sans-serif;
  font-size: 40px;
  text-align: center;
  height: 8vh;
  width: 100%;
  background-color: gray;
  color: white;
}
